* {
    color: #000;
    font-family: arial;
}

body {
    background: none repeat scroll 0 0 #fff;
    color: #222;
    margin:0;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: #222;
    text-decoration: underline;
}

a.button:hover {
    text-decoration: none;
}

.top-navigation {
    float: right;
    margin-right: 25px;
}

.top-navigation li{
    list-style: none;
    display: inline-block;
    text-align: right;
    padding: 5px 10px 0 0;
    vertical-align: bottom;
    margin: 5px 5px 0 0; 
}

.search-box {
	position: absolute;
	margin-top:75px;
	width:100%;
}

.search-box img {
    padding: 150px 0 10px 0;
    display: block;
    margin:0 auto;
}

.search-bar {
    height: 40px;
    width: 550px;
    margin: 10px;
    margin-bottom: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: block;
    margin:0 auto;
    position: relative;
}

.search-button {
    margin-top: 35px;
    text-align: center;
    border-radius: 4px;
} 


.newbutton {
    background-color:#F4F4F4;
    color:#5F6367;
    margin: 0 5px;
    padding:10px 30px;
    border:none;
    border-radius: 2px;
    text-align: center;
}


